body {
  background-color: lightskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

#app {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 0 1em;
}

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 2em;
    color: white;
    background-color: black;
    padding: .3em .5em;
    display: block;
    opacity: 0.7;
    margin-bottom: 50vh;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: normal;
  }

  img {
    max-width: 1.3em;
    margin-left: .2em;
  }
}

.content {
  background-color: white;
  padding: 1px 1em;
}